header {
  background-color: grey;
  display: inline;
  
}

#headerbg {
  background-color: #73964B;
  height: 150px;
  width: 100%;
  margin: 0px;
}
h1{
  position:relative;
  float:left;
  padding-left:250px;
  font-size: 90px;
  font-family: Courier;
}
img{
  float:left;
  
}

body{
  background-image: url("img/train.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#main {
  text-align: center;
  background-color: rgba(204,204,204,0.5);
  margin-left: 455px;
  margin-right: 455px;
  float: left;
}
#map-canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        z-index: -1;
        position:absolute;
}
